* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $family-default;
  font-size: $fontsize-md;
  color: $color-text;
  background: none;
  border: none;
}

html,
body,
#root {
  background: #fff;
  height: 100%;

  &.no-scroll {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}
