$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$fontsize-md: 18px;
$fontsize-lg: 24px;
$fontsize-x: 36px;
$fontsize-xl: 54px;

$family-default: 'BrigendsExpanded';
$family-alt: 'SevenVenom';

$color-primary: #ffde02;
$color-text: #242424;
$color-danger: #ff0400;
