.count-selector {
  display: flex;
  align-items: center;

  &__count {
    margin: 0 10px;
    background: $color-primary;
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    height: 24px;
  }

  &__btn {
    &--disabled {
      opacity: 0.25;
    }
  }
}
